@import "tailwindcss";

@theme {
  --color-brand-50: #F0FDF4;
  --color-brand-100: #DCFCE7;
  --color-brand-200: #BBF7D0;
  --color-brand-500: #22C55E;
  --color-brand-600: #16A34A;
  --color-brand-700: #15803D;
  --color-brand-900: #14532D;
}
